.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 20px;
    margin-bottom: 10px;
}
.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icon span{
    margin-left: var(--horizantal-space);
}
.screen-header__notification {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.screen-header__icon span:last-child {
    position: relative;
}